{% trans_default_domain 'FOSUserBundle' %}

<h2>{{ 'layout.register'|trans }}</h2>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register',{'_locale': app.request.getLocale()})}) }}
    <div id="fos_user_registration_form">
        <div class="form-group">
            <label for="fos_user_registration_form_email" class="required">{{ 'form.email'|trans }}</label>
            {{ form_widget(form.email, {'attr': {'class': 'form-control w-register'}}) }}
        </div>
        <div class="form-group">
            <label for="fos_user_registration_form_username" class="required">{{ 'form.username'|trans }}</label>
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="fos_user_registration_form_plainPassword_first" class="required">{{ 'form.password'|trans }}</label>
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="fos_user_registration_form_plainPassword_second" class="required">{{ 'form.password_confirmation'|trans }}</label>
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>
        <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="{{csrf_token('registration')}}" />
    </div>
    <div>
        <input type="submit" class="btn btn-outline-success" value="{{ 'layout.register'|trans }}" />
    </div>
{{ form_end(form) }}
