{% extends 'FrontBundle:Layouts:front.html.twig' %}

{% block body %}

    {% include 'FrontBundle:Layouts:front-header.html.twig' %}

    <div class="container-fluid">

        <div class="content1">

            {% include 'FrontBundle:Layouts:content-header.html.twig' %}

            <div class="row">
                <div class="container">
                    <div class="row login-form1">
                        <div class="col-sm-3"></div>
                        <div class="col-xs-6 login-form">
                            {% block fos_user_content %}
                                {% include "@FOSUser/Registration/register_content.html.twig" %}
                            {% endblock %}
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}