{% extends 'FrontBundle:Layouts:front.html.twig' %}

{% block body %}

    {% include 'FrontBundle:Layouts:front-header.html.twig' %}

    <div class="container-fluid">
        <div class="content1">

            {% include 'FrontBundle:Layouts:content-header.html.twig' %}

        </div>
    </div>
{% endblock %}


