{% trans_default_domain 'FOSUserBundle' %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check",{'_locale': app.request.getLocale()}) }}" method="post">

    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group">
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" class="form-control w-login" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
{#        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
    </div>
    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" class="form-control w-login" id="password" name="_password" required="required" autocomplete="current-password" />
    </div>
    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label class="form-check-label pl-10" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    <input type="submit" class="btn btn-outline-success" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

</form>