{% extends 'FrontBundle:Layouts:front.html.twig' %}

{% block body %}

    {% include 'FrontBundle:Layouts:front-header.html.twig' %}

    <div class="container-fluid">

        <div class="content1">

            {% include 'FrontBundle:Layouts:content-header.html.twig' %}

            <div class="row">
                <div class="container">
                    <div class="row login-form1">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 login-form">
                            <h2>{{ 'sys.login'|trans }}</h2>
                            {% block fos_user_content %}
                                {% include "@FOSUser/Security/login_content.html.twig" %}
                            {% endblock %}
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
