<div class="row">
    <div class="col-sm-1">
        <div class="content1-banner">{{ 'header.banner_content'|trans }}</div>
    </div>
    <div class="col-sm-10 content1-header">
        <div class="">
            <div class="row">
                <div class="col-sm-3 content1-header__left">
                    <div class="">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8 content1-header__vkino">{{ 'header.to_cinema'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 content1-header__right">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 content1-header__social">
                                <div class="content1-header__search">
                                    <form class="form-inline my-2 my-lg-0 mt-25">
                                        <input class="form-control mr-sm-2" type="search" placeholder="{{ 'header.search'|trans }}" aria-label="Search">
                                        <button class="btn btn-info my-2 my-sm-0" type="submit">{{ 'header.search'|trans }}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 content1-header__table">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <nav class="navbar navbar-expand-sm navbar-light bg-light">
                                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                <ul class="navbar-nav mr-auto">
                                                    <li class="nav-item active">
                                                        <a class="nav-link" href="#">{{ 'header.poster'|trans }} <span class="sr-only">(current)</span></a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">{{ 'header.schedule'|trans }}</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">{{ 'header.soon'|trans }}</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">{{ 'header.cinemas'|trans }}</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">{{ 'header.stocks'|trans }}</a>
                                                    </li>
                                                    <li class="nav-item dropdown">
                                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            {{ 'header.about_cinema'|trans }}
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                            <a class="dropdown-item" href="#">{{ 'header.news'|trans }}</a>
                                                            <a class="dropdown-item" href="#">{{ 'header.advertising'|trans }}</a>
                                                            <a class="dropdown-item" href="#">{{ 'header.cafe'|trans }}</a>
                                                            <a class="dropdown-item" href="#">{{ 'header.mobile_applications'|trans }}</a>
                                                            <a class="dropdown-item" href="#">{{ 'header.contacts'|trans }}</a>
                                                        </div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#"></a>
                                                    </li>
                                                    <li class="nav-item dropdown">

                                                        {% include 'FrontBundle:Layouts:lang.html.twig' %}

                                                    </li>
                                                </ul>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <div class="">3</div>
    </div>
</div>

