<div class="container-fluid header">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 header__div1">
            <div class="header__p1">{{ 'header.ticket_buy1'|trans }}</div>
            <div class="header__p2">{{ 'header.ticket_buy2'|trans }}</div>
            <div class="header__p3">{{ 'header.ticket_buy3'|trans }}</div>
        </div>

        <div class="col-sm-4 header__links">
            <div class="btn-group">

                {% set router = app.request.pathInfo|split('/') %}

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('admin_homepage') }}" type="button" class="btn btn-outline-info">{{ 'sys.admin'|trans }}</a>
                    <a href="/logout" class="btn btn-outline-info">{{ 'sys.logout'|trans }}</a>
                {% elseif is_granted('ROLE_USER') %}
                    <a href="{{ path('front_homepage',{'_locale': app.request.getLocale()}) }}" type="button" class="btn btn-outline-info">{{ 'header.to_home'|trans }}</a>
                    <a href="/logout" class="btn btn-outline-info">{{ 'sys.logout'|trans }}</a>
                {% else %}
                    <a href="{{ path('front_homepage',{'_locale': app.request.getLocale()}) }}" type="button" class="btn btn-outline-info">{{ 'header.to_home'|trans }}</a>

                    {% if 'login' in router %}
                        <a href="{{ path('fos_user_registration_register',{'_locale': app.request.getLocale()}) }}" type="button" class="btn btn-outline-info">{{ 'sys.sign_up'|trans }}</a>
                    {% elseif 'register' in router %}
                        <a href="{{ path('fos_user_security_login',{'_locale': app.request.getLocale()}) }}" type="button" class="btn btn-outline-info">{{ 'sys.login'|trans }}</a>
                    {% elseif app.request.pathInfo|trim('/') in ['','en','ru'] %}
                        <a href="{{ path('fos_user_security_login',{'_locale': app.request.getLocale()}) }}" type="button" class="btn btn-outline-info">{{ 'sys.login'|trans }}</a>
                        <a href="{{ path('fos_user_registration_register',{'_locale': app.request.getLocale()}) }}" type="button" class="btn btn-outline-info">{{ 'sys.sign_up'|trans }}</a>
                    {% endif %}

                {% endif %}

            </div>
        </div>
        <div class="col-sm-2">
            <div class="header__baner">{{ 'header.banner_heder'|trans }}</div>
        </div>
    </div>
</div>

