{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/Assets/front/css/style.css">
{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    {#<script src="Assets/plugins/jquery/jquery.min.js"></script>#}
    <script src="/Assets/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
{#    <script src="/Assets/dist/js/adminlte.js"></script>#}
{% endblock %}

