<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ 'sys.lang_choice'|trans }}
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% if app.request.getLocale() == 'en' %}
        <a class="dropdown-item" href="{{ path('front_homepage', app.request.get('_route_params')|merge({'_locale' : 'ru' })) }}">{{ 'header.ru'|trans }}</a>
    {% elseif app.request.getLocale() == 'ru' %}
        <a class="dropdown-item" href="{{ path('front_homepage', app.request.get('_route_params')|merge({'_locale' : 'en' })) }}">{{ 'header.en'|trans }}</a>
    {% endif %}
</div>

