.pl-10 {
    padding-left: 10px;
}
.bg-image {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    background: url("/Assets/front/img/mesto-dostoprimechatelnost-arka-3840x2160.jpg") no-repeat;
}
.login-form {
    margin-top: 50px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px 180px;
    background-color: #cce6ff;
    background-color: #b3cce6;
}
.align-center {
    text-align: center;
}
.w-register {
    width: 220px;
}
.w-login {
    width: 220px;
}

.header {
    background-color: #1a3365;
    /*width: 100%;*/
    height: 110px;
    color: white;
}
.header__div1 {
    text-align: center;
}
.header__p1 {
    font-size: 1.4em;
    padding-top: 4px;
}
.header__p2 {
    font-size: 1.1em;
}
.header__p3 {
    position: relative;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: bold;
}
.header__baner {
    /*position: absolute;*/
    background-color: #ffffcc;
    width: 320px;
    height: 80px;
    float: right;
    /*margin-right: -15px;*/
    color: #604020;
    text-align: center;
    padding-top: 15px;
    font-size: 1.3em;
}
.content1 {
    /*position: relative;*/
    background: url("/Assets/front/img/mesto-dostoprimechatelnost-arka-3840x2160.jpg") no-repeat;

    /*background: url(./img/mesto-dostoprimechatelnost-arka-3840x2160.jpg) no-repeat center center;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

    background-size: 100%;
    height: 1200px;
    /*float: left;*/
    margin-left: -15px;
    margin-right: -15px;
}
.content1-banner {
    position: absolute;
    top: 55px;
    background-color: #ffffcc;
    width: 170px;
    height: 200px;
    float: left;
    z-index: 2;
    color: #604020;
    text-align: center;
    padding: 15px 10px;
    font-size: 1.3em;
}
.content1-header {
    /*background-color: #ffe699;*/
    /*height: 200px;*/
    margin-top: 25px;
}
.content1-header__left {
    background-color: #995c00;
    height: 110px;
    margin-top: 10px;
}
.content1-header__right {
    position: relative;
    /*background-color: #ffe0b3;*/
}
.content1-header__social {
    height: 85px;
    /*background-color: #ffffb3;*/
}
.content1-header__table {
    /*background-color: white;*/
    /*height: 35px;*/
    /*border: 3px solid black;*/
}
.header__links {
    margin-top: 17px;
}
.content1-header__search {
    margin-top: 11px;
}
.content1-header__vkino {
    margin-top: 17px;
    font-size: 3.1em;
    font-weight: bold;
    color: white;
}